---
import { Button } from '@/components/ui/button'
import { dictionary } from '@/i18n/dictionary'
import { type Language } from '@/i18n/i18n'
import { BIRTH_DATE, BOT_NAME, NICK_NAME } from '@/lib/constants'
import { ArrowDown, ArrowDownRight, Bot, FileDown } from 'lucide-react'
import Socials from './socials.astro'

function getAge(birthDate: Date) {
	const today = new Date()
	let age = today.getFullYear() - birthDate.getFullYear()
	const monthDiff = today.getMonth() - birthDate.getMonth()
	if (
		monthDiff < 0 ||
		(monthDiff === 0 && today.getDate() < birthDate.getDate())
	) {
		age--
	}
	return age
}
export interface Props {
	lang: Language
}

const t = dictionary[Astro.props.lang]
---

<section
	class='flex flex-col items-start gap-8 md:flex-row-reverse md:items-center md:justify-between'
>
	<img
		class='rounded-lg'
		src='/me/me.webp'
		alt={`Photo of ${NICK_NAME}`}
		width={175}
		height={175}
	/>
	<div class='flex max-w-[320px] flex-col sm:max-w-full'>
		<h1
			class='font-serif text-5xl tracking-wide decoration-border/75 decoration-2 text-balance'
		>
			{t['hi {NICK_NAME} here. 👋'].replace('{NICK_NAME}', NICK_NAME)}
		</h1>

		<p class='mt-2 whitespace-nowrap text-sm font-medium sm:text-base'>
			{
				t['{AGE} yo software engineer hailing from Indonesia 🇮🇩'].replace(
					'{AGE}',
					String(getAge(BIRTH_DATE))
				)
			}
		</p>

		<p class='mt-4 max-w-sm text-balance text-sm sm:text-base'>
			{
				t['Backend by trade, full-stack by passion. I build and self-host the lot.']
			}
		</p>

		<div class='mt-6 flex items-center gap-1'>
			<p
				class='text-balance text-sm font-semibold sm:text-base flex items-center gap-1'
			>
				{t['For Q&A, raise a ticket with']}
				<Bot className='size-5' />
				{BOT_NAME}
			</p>
			<ArrowDownRight className='hidden size-5 animate-bounce sm:block' />
			<ArrowDown className='block size-5 animate-bounce sm:hidden' />
		</div>

		<p class='mt-1 text-xs font-light'>
			{t['For escalations, please find my']}
			<a
				href='https://www.instagram.com/jeheskielsunloy'
				target='_blank'
				class='hover:text-foreground hover:underline font-semibold'
				title='instagram'
			>
				&nbsp;${NICK_NAME}&nbsp;
			</a>
			{t['instead.']}
		</p>

		<section class='mt-6 flex flex-wrap items-center gap-4'>
			<a href='/me/resume.pdf' target='_blank'>
				<Button variant='outline'>
					<span class='font-semibold'>{t['Resume']}</span>
					<FileDown className='ml-2 size-5' />
				</Button>
			</a>
			<Socials />
		</section>
	</div>
</section>
