---
import '../styles/global.css'
import Footer from '@/components/footer.astro'
import { ChatBot } from '@/components/chat-bot'
import Seo from '@/components/seo.astro'
import type { ComponentProps } from 'astro/types'
import ArticleSchema from '@/components/article-schema.astro'
import { type Language } from '@/i18n/i18n'
import { Navbar } from '@/components/navbar'
import { dictionary } from '@/i18n/dictionary'

export interface Props {
	seo: Omit<ComponentProps<typeof Seo>, 'lang'>
	articleSchema?: ComponentProps<typeof ArticleSchema>
	lang: Language
	chatBot?: boolean
	gutter?: boolean
	dockNavbar?: boolean
}

const {
	seo,
	articleSchema,
	lang,
	chatBot = true,
	gutter = true,
	dockNavbar = true,
} = Astro.props
const t = dictionary[lang]
---

<html lang={lang} class='scroll-smooth'>
	<head>
		<script is:inline data-astro-rerun>
			;(() => {
				const theme = localStorage.getItem('theme')
				const prefersDark = window.matchMedia(
					'(prefers-color-scheme: dark)'
				).matches
				if (theme === 'dark' || (!theme && prefersDark)) {
					document.documentElement.classList.add('dark')
				} else {
					document.documentElement.classList.remove('dark')
				}
			})()
		</script>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<Seo {...seo} lang={lang} />
		{articleSchema && <ArticleSchema {...articleSchema} />}
	</head>
	<body class='font-sans text-foreground bg-background'>
		<Navbar
			lang={lang}
			pathname={Astro.url.pathname}
			t={t}
			dockNavbar={dockNavbar}
			client:load
		/>
		{
			gutter ? (
				<div class='mx-auto flex max-w-3xl flex-col px-4 sm:px-8 py-24'>
					<main class='grow'>
						<slot />
					</main>
					{chatBot && <ChatBot client:idle t={t} lang={lang} />}
				</div>
			) : (
				<>
					<main>
						<slot />
					</main>
					{chatBot && <ChatBot client:idle t={t} lang={lang} />}
				</>
			)
		}
		<Footer lang={lang} />
	</body>
</html>
