---
import LinkWithIcon from '@/components/link-with-icon.astro'
import { LANGUAGES } from '@/i18n/i18n'
import MainLayout from '@/layouts/main.astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection, render } from 'astro:content'
import { formatDate } from 'date-fns'
import { ArrowLeftIcon } from 'lucide-react'

export async function getStaticPaths() {
	const posts = await getCollection('post')

	return posts.flatMap((post) =>
		LANGUAGES.map((lang) => ({
			params: { slug: post.id, lang },
			props: post,
		}))
	)
}

export type Props = CollectionEntry<'post'>

const post = Astro.props

const { Content } = await render(post)

const sharedData = {
	title: post.data.title,
	description: post.data.description,
	publishedTime: post.data.publishedAt,
	modifiedTime: post.data.updatedAt,
	articleSection: 'Blog',
}

const seo = {
	...sharedData,
	keywords: post.data.keywords,
	ogImage: post.data.image?.src,
	author: post.data.author,
	articleTags: post.data.tags,
	canonical: new URL(`/blog/${post.id}`, Astro.site).toString(),
	ogType: 'article',
	twitterCard: 'summary_large_image',
} as const
---

<MainLayout
	lang={Astro.params.lang}
	seo={seo}
	articleSchema={{
		...sharedData,
		keywords: seo.keywords.split(',').map((k) => k.trim()),
		url: seo.canonical,
		image: post.data.image
			? [new URL(post.data.image.src, Astro.site).toString()]
			: undefined,
	}}
>
	<article class='mt-8 flex flex-col gap-8 pb-16'>
		<LinkWithIcon
			href={`/${Astro.params.lang}/blog`}
			position='left'
			text='back to blog'
		>
			<ArrowLeftIcon className='size-5' />
		</LinkWithIcon>

		{
			post.data.image && (
				<div class='relative mb-6 h-96 w-full overflow-hidden rounded-lg'>
					<img {...post.data.image} class='object-cover' />
				</div>
			)
		}

		<header>
			<h1 class='text-5xl font-extrabold'>{post.data.title}</h1>
			<p class='mt-2 text-xs text-muted-foreground'>
				{formatDate(post.data.publishedAt, 'MMMM dd, yyyy')}
			</p>
		</header>

		<main class='prose dark:prose-invert'>
			<Content />
		</main>
	</article>
</MainLayout>
